<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{.Title}}</title>
	\{{.Styles}}
	\{{.Scripts}}
</head>
<body>
	\{{template "header" .}}
	<div class="container">
		\{{template "content" .}}
	</div>
	\{{template "footer" .}}
</body>
</html>
